* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;

    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* NAVBAR */
nav {
    width: 100%;
    height: 55px;
    background-color: #fff;
    text-align: right;
    position: fixed;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    top: 0;
    position: fixed;
}

#left-list {
    left: 150px;
    margin-left: 15px;
}

nav ul li {
    margin-right: 10px;
    line-height: 55px;
}

nav li a {
    display: inline-block;
    width: 100px;
    color: #ff3d26;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav img#icon1 {
    float: left;
    padding-top: 7px;
    padding-left: 15px;
    width: 150px;
}

nav img#icon2 {
    float: left;
    padding-top: 8px;
    padding-left: 15px;
    display: none;
}

nav a#upload {
    color: white;
    background-color: #ff3d26;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 32px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 80px;
    line-height: 55px;
    font-size: 18px;
}

/* LOGIN */

.login-dropbtn {
    color: #ff3d26;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 20px;
}

.login-dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    line-height: 55px;
}

.login-dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #fff;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    right: 0;
    line-height: normal;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    z-index: 2;
}

.login-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.login-dropdown input[type=text],
.login-dropdown input[type=password] {
    border: 1px solid #cecece;
    margin-top: 10px;
    height: 40px;
    width: 220px;
    padding-left: 10px;
    border-radius: 20px;
}

.login-dropdown input[type=submit] {
    color: white;
    background-color: #ff3d26;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 17px;
    padding: 5px;
    height: 40px;
    width: 160px;
    font-size: 18px;
}

#loginp {
    margin-bottom: 5px;
    font-size: 25px;
}

.login-dropdown p:last-of-type {
    font-size: 13px;

}

.login-dropdown a {
    color: #ff3d26;
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.show {
    display: block;
}

div#ordiv {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #cecece;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

span#orspan {
    font-size: 15px;
    background-color: #fff;
    padding: 0 10px;
}

/* HAMBURER */

#hamburger {
    float: right;
    margin-top: 12px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#hamburger span {
    background-color: #ff3d26;
    display: block;
    margin-bottom: 8px;
    height: 4px;
    width: 40px;
    border-radius: 12px;
}

#menu-toggle {
    display: none;
}

/* MOBIL */
@media screen and (max-width: 805px) {

    /* NAVBAR */
    nav {
        width: 100%;
        height: auto;
        text-align: center;
    }

    nav ul {
        max-height: 0;
        position: relative;
        transition: max-height 0.3s;
        left: 0;
        right: 0;
    }

    nav ul li {
        margin: 0;
        line-height: 0;
        float: none;
        line-height: 50px;
    }

    nav ul a {
        text-align: center;
        width: 100%;
        height: 50px;
    }

    nav a#upload {
        margin: 0;
    }

    nav img#icon1 {
        display: none;
    }

    nav img#icon2 {
        display: block;
    }

    #right-list,
    #left-list {
        right: 0;
        left: 0;
    }

    /* HAMBURGER */

    #menu-toggle:checked ~ ul {
        max-height: 350px;
    }

    #hamburger {
        display: block;
    }

}

/* TITLEPAGE */
.title-page {
    background-image: url(img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
}

.keyword {
    text-align: center;
}

.keyword a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 20px;
    line-height: 50px;
}

.keyword a:hover {
    background: #fff;
    color: #000;

}

.title-page input[type=text] {
    display: block;
    color: #fff;
    margin: 200px auto;
    font-size: 80px;
    background-color: transparent;
    border: none;
    width: auto;
    text-align: center;
}

#search-input::placeholder {
    color: #fff;
    opacity: 1;
    text-align: center;
}

/* RECIPES */

.recipe-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    background-color: #f4f4f4;
    width: 260px;
    height: 10%;
    text-align: left;
    text-decoration: none;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
}

.recipe:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.outside .recipe-img img {
    width: 260px;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.outside p.recipe-name {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 20px 10px 20px;
    height: 50px;
}

.type-of-recipe {
    color: #f00;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

.vertical-line {
    height: 10px;
    margin-left: 10px;
}

.rating span img {
    float: right;
    width: 15px;
    height: 15px;
}

.rating {
    margin-top: 5px;
    margin-right: 20px;
}

.outside ul li {
    display: inline-block;
    padding: 5px 5px 15px 5px;
    margin-top: 10px;
    font-size: 10px;
    color: #000;
}

.outside ul li span {
    width: 15px;
    height: 15px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 15px;
}


/* UPLOAD RECIPE */
#upload-header {
    text-align: center;
    padding-top: 80px;
    color: #ff3d26;
    font-size: 60px;
}

#form-upload {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#form-upload p {
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: left;
    font-weight: bold;
}

#form-upload input[type=text]:nth-child(2) {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 25px;
    font-size: 13px;
}

#form-upload input[type=number] {
    height: 40px;
    width: 100px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 25px;
    font-size: 13px;
    margin-right: 10px;
}

#form-upload input[type=text]#ingradient {
    height: 40px;
    width: 100px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.add-button {
    height: 40px;
    width: 55px;
    padding: 10px;
    border: 2px solid #ff3d26;
    border-radius: 25px;
    color: #ff3d26;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#ingradient-preview span {
    border: 1px solid #cecece;
    padding: 8px;
    margin: 3px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
}
#ingradient-preview span:hover{
    background: #ff3d26;
    color: #fff;
}

#plus {
    display: inline-block;
    font-size: 40px;
}

#plus-button {
    vertical-align: middle;
    cursor: pointer;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    font-weight: 300;
    background: white;
    border: 1px solid #EE422F;
    color: #EE422F;
}

#form-upload textarea {
    border: 1px solid #cecece;
    border-radius: 25px;
    font-size: 13px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#form-upload #step-preview span {
    text-align: left;
    position: absolute;
    background-color: #fff;
    margin-left: 30px;
    margin-top: -8px;
    color: #f00;
    padding: 0 5px;
}

#form-upload #step-preview span:before {
    content: attr(data-value);
}

span#first-step:after {
    content: "Step1";
}

#step-button {
    background-color: #fff;
    border: 2px dashed #ff3d26;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
    color: #ff3d26;
    font-size: 15px;
}

.dose-button {
    color: #ff3d26;
    cursor: pointer;
    border: 1px solid #ff3d26;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px 14.775px;
}


#dose-text {
    font-size: 25px;
    font-style: italic;
    padding: 0 30px;
    font-weight: bold;
}

#dose-number {
    color: #ff3d26;
    font-size: 45px;
}

#image-label {
    color: #ff3d26;
    border: 2px dashed #ff3d26;
    float: left;
    line-height: 150px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

#preview-image img {
    width: 150px;
    height: 150px;
    float: left;
}


#select-category {
    float: left;
}

#form-upload table {
    margin: auto;
}

#form-upload table td {
    padding-right: 3vw;
}

#form-upload table td .diff-spoon {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

#form-upload table td label img {
    padding: 20px;
    width: 80px;
}

#form-upload #upload-button {
    color: #fff;
    background-color: #ff3d26;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 25px;
    font-size: 25px;
}

#help-container {
    vertical-align: middle;
    text-align: left;
}
